/* Write your CSS here */
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn {
  margin: 40px;
  padding: 6px 20px;
  border-radius: 20px;
  border: none;
}
.name {
  display: block;
  margin: 40px;
  padding: 40px 50px;
  background-color: #ffffff;
  color: black;
  border-radius: 20px;
}
.name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
